body{
	 font-family: Arial;
	  padding: 10px;
	  background: #f1f1f1;
	  height:100%;
      min-width: 1000px;
      margin: 0 auto;
	}
.header{
	height: 250px;
	background-color: #ffe6e6;
}
.header, 