<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript Event</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div style="height: 1500px;" id="content"></div>
<!-- <header> -->
  <div class="area">
        <h3 id="scroll">Booking</h3>
        </div>
<!-- </header> -->

<footer id="footer" style="height: 150px">
  <p>Footer</p>
</footer>

<style>
body {
  margin: 0;
  position: relative;
}
</style>
<script>
        function getHeight(ele) {
          var h = ele.innerHeight
            || ele.clientHeight
            || ele.clientHeight;
          return h;
        }
        window.onscroll = function() {
          var d = document.documentElement;
          var w = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);
          var s = document.getElementById('scroll');
          var c = document.getElementById('content');
          var f = getHeight(document.getElementById('footer'));
          var off = getHeight(c) - (f*2);
          var newW = off - w;
          s.style.display = 'none';
          if (w > 100) s.style.display = '';
          if (w >  newW) {
            console.log('At the bottom');
            s.style.display = 'none';
          }
        };
      //  function countbooking(){
      //    var countElem = document.getElementById('scrol');
      //    var scrollValue = window.pageYOoffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
      //    var wrapper = document.getElementById('counten').clientHeight;
      //    var footer = document.getElementById('footer').clientHeight;
      //    countElem.style.display = 'none';
      //    if (scrollValue > 100){
      //      countElem.style.display='';
      //    }
      //  }
      //  countbooking();
      //  window.addEventListener('scroll', function(e){
      //    countbooking();
      //  })
      
        </script>

</body>
</html>